@model LoginViewModel

@{
	ViewData["Title"] = "Log in";
}

<div class="position-absolute top-50 start-50 translate-middle">
	<div class="card">
		<div class="card-body">
			<p class="login-box-msg">Log in to our Website</p>

			<form id="account" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="input-group mb-3">
					<input asp-for="@Model.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
					<span asp-validation-for="@Model.UserName" class="text-danger"></span>
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-envelope"></span>
						</div>
					</div>
				</div>
				<div class="input-group mb-3">
					<input asp-for="@Model.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
					<span asp-validation-for="@Model.Password" class="text-danger"></span>
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
				</div>
				<div class="text-center">
					<button id="login-submit" type="submit" class="btn btn-primary btn-block">Log in</button>
				</div>
			</form>

			<div class="social-auth-links text-center mb-3">
				<p>- OR -</p>
				<form id="external-account" asp-action="ExternalLogin" method="post" class="form-horizontal">
					<div>
						<p>
							@foreach (var provider in Model.ExternalLogins)
							{
								<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
							}
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
