@model RegisterViewModel

@{
	ViewData["Title"] = "Register";
}

<div class="position-absolute top-50 start-50 translate-middle">
	<div class="card">
		<div class="card-body">
			<p class="login-box-msg">Register a new account</p>

			<form id="registerForm" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="input-group mb-3">
					<input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.UserName" placeholder="Username" />
					<span asp-validation-for="@Model.UserName" class="text-danger"></span>
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-user"></span>
						</div>
					</div>
				</div>
				<div class="input-group mb-3">
					<input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.Email" placeholder="Email" />
					<span asp-validation-for="@Model.Email" class="text-danger"></span>
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-envelope"></span>
						</div>
					</div>
				</div>
				<div class="input-group mb-3">
					<input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" placeholder="Password" />
					<span asp-validation-for="@Model.Password" class="text-danger"></span>
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
				</div>
				<div class="input-group mb-3">
					<input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" placeholder="Confirm Password" />
					<span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
				</div>
				<div class="text-center">
					<button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}