@model IEnumerable<OrderViewModel>

@{
	ViewBag.Title = "Cart";
}

<div class="text-center row">
	@foreach (var order in Model)
	{
		<div class="card mb-3" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img class="img-thumbnail img-fluid" src=@order.ImageUrl alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">@order.Title</h5>
						<p class="card-text"><small class="text-muted">@order.Author</small></p>
						<p name="price" class="card-text">Price: @order.Price.ToString("F2")</p>
						<div class="container">
							<div class="row">
								<div class="col">
									<a type="button" class="position-relative" asp-controller="Order" asp-action="Remove" asp-route-bookId="@order.BookId">
										<i class="fas fa-arrow-left"></i>
									</a>
								</div>
								<div name="copies" class="col">
									@order.Copies
								</div>
								<div class="col">
									<a type="button" class="position-relative" asp-controller="Order" asp-action="Order" asp-route-bookId="@order.BookId">
										<i class="fas fa-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>
@*<div class="table table-striped">
	<table class="table caption-top">
		<thead>
			<tr>
				<th scope="col">Total:</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="total"></td>
			</tr>
		</tbody>
	</table>
</div>*@

<div class="col-25">
	<div class="container">
		<h4>
			Cart
			<span class="price" style="color:black">
				<i class="fa fa-shopping-cart"></i>
				<b>@Model.Count()</b>
			</span>
		</h4>
		<p>Total: <span class="price" style="color:black"><b id="total">0</b></span></p>
	</div>
</div>
<style>
		.col-25 {
		-ms-flex: 25%; /* IE10 */
		flex: 25%;
	}

	span.price {
		float: right;
		color: grey;
	}
</style>
<script>
	window.onload = function () {
		let div = document.getElementsByClassName('card-body');

		let total = 0;

		for (let element of div) {
			let price = Number.parseInt(element.children[2].innerText.split(': ')[1]);
			let copies = Number.parseInt(element.children[3].innerText);

			total += price * copies;
		}

		let totalElement = document.getElementById('total');
		totalElement.innerText = total + "$";
	};
</script>