@model AddBookViewModel

@{
    ViewBag.Title = "Add Book";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="@Model.ISBN" class="form-label">ISBN</label>
                <input asp-for="@Model.ISBN" class="form-control" aria-required="true" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label">Title</label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label">Description</label>
                <input asp-for="@Model.Description" class="form-control" aria-required="true" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Year" class="form-label">Year</label>
                <input asp-for="@Model.Year" class="form-control" aria-required="true" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label">Price</label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Pages" class="form-label">Pages</label>
                <input asp-for="@Model.Pages" class="form-control" aria-required="true" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label">Image URL</label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AuthorId" class="form-label">Author</label>
                <select asp-for="@Model.AuthorId" class="form-control">
                    @foreach (var author in Model.Authors)
                    {
                        <option value="@author.Id">@author.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.PublisherId" class="form-label">Publisher</label>
                <select asp-for="@Model.PublisherId" class="form-control">
                    @foreach (var publisher in Model.Publishers)
                    {
                        <option value="@publisher.Id">@publisher.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CategoryId" class="form-label">Category</label>
                <select asp-for="@Model.CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.WarehouseId" class="form-label">Warehouse</label>
                <select asp-for="@Model.WarehouseId" class="form-control">
                    @foreach (var warehouse in Model.Warehouses)
                    {
                        <option value="@warehouse.Id">@warehouse.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}