@model IEnumerable<AllBooksViewModel>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
	@foreach (var book in Model)
	{
		<div class="card col-4" style="width: 20rem; ">
			<a type="button" class="fs-6 mb-3 p-2" asp-action="Details" asp-route-bookId="@book.Id">
				<img class="card-img-top" style="width: 18rem;"
				 src="@book.ImageUrl" alt="Book Image">
			</a>
			<div class="card-body">

				<h5 class="card-title mt-1">@book.Title</h5>
				<p class="mb-0">Author: @book.Author</p>
				<p class="mb-0">Price: @book.Price</p>
			</div>

			<div>
			<a type="button" class="fs-6 btn btn-success mb-3 p-2" asp-controller="Order" asp-action="Order" asp-route-bookId="@book.Id">
				<i class="fas fa-cart-plus"></i>
				<span>Order</span>
			</a>
			</div>
		</div>
	}
</div>

@section Styles {
	<link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
}

@*<a asp-action="Details" asp-route-bookId="@book.Id">
	<span>Book Details</span>
</a>*@
