@model IEnumerable<AllBooksViewModel>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
	@foreach (var book in Model)
	{
		<div class="card col-4" style="width: 20rem; ">
			<a type="button" class="fs-6 mb-3 p-2" asp-area="" asp-action="Details" asp-route-bookId="@book.Id" 
			asp-route-information="@book.GetInformation()" >
				<img class="card-img-top" style="width: 15rem;"
				 src="@book.ImageUrl" alt="Book Image">
			</a>
			<div class="card-body">

				<h5 class="card-title mt-1">@book.Title</h5>
				<p class="mb-0">Author: @book.Author</p>
				<p class="mb-0">Price: @book.Price.ToString("f2")</p>
			</div>

			<div class="d-grid gap-2 d-md-block">
				<a type="button" class="fs-6 btn btn-success mb-3 p-2" asp-area="" asp-controller="Order" asp-action="Order" asp-route-bookId="@book.Id">
					<i class="fas fa-cart-plus"></i>
					<span>Order</span>
				</a>
				@if (User?.IsInRole("Administrator") ?? false)
				{
					<a type="button" class="btn btn-warning mb-3 p-2" asp-area="Administration" asp-controller="Book" asp-action="Edit" asp-route-bookId="@book.Id">
						<i class="fas fa-edit"></i>
						<span>Edit</span>
					</a>
					<a type="button" class="btn btn-danger mb-3 p-2" asp-area="Administration" asp-controller="Book" asp-action="Remove" asp-route-bookId="@book.Id">
						<i class="fas fa-trash"></i>
						<span>Delete</span>
					</a>
				}
			</div>
		</div>
	}
</div>

@section Styles {
	<link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
}

	@*<a asp-action="Details" asp-route-bookId="@book.Id">
	<span>Book Details</span>
</a>*@
