@model DetailsBookViewModel

@{
	ViewBag.Title = "Book Details";
}

<div class="content-wrapper" style="min-height: 2646.8px;">

	<section class="content">

		<div class="card card-solid">
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-5">
						<div class="col-12">
							<img src=@Model.ImageUrl class="product-image" alt="Product Image">
						</div>

					</div>
					<div class="col-12 col-sm-7">
						<h3 class="my-3">@Model.Title</h3>
						<hr>

						<!-- Responsive Hover Table -->
						<div class="row">
							<div class="col-12">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Details</h3>

									</div>
									<!-- /.card-header -->
									<div class="card-body">
										<table class="table table-bordered table-responsive">
											<thead>
												<tr>
													<th>Year</th>
													<th>Pages</th>
													<th>Author</th>
													<th>Publisher</th>
													<th>Categories</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>@Model.Year</td>
													<td>@Model.Pages</td>
													<td>
														<a class="alert-link" asp-action="Author" asp-route-authorName="@Model.Author">
															<span>@Model.Author</span>
														</a>
													</td>
													<td>
														<a class="alert-link" asp-action="Publisher" asp-route-publisherName="@Model.Publisher">
															<span>@Model.Publisher</span>
														</a>
													</td>
													<td>
														@foreach (var category in Model.Categories)
														{
															<a class="alert-link" asp-action="Category" asp-route-categoryName="@category">
																<span>@category</span>
															</a>
														}
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- /.card-body -->
								</div>
								<!-- /.card -->
							</div>
						</div>
						<!-- Responsive Hover Table -->

						<div class="bg-gray py-2 px-3 mt-4">
							<h2 class="mb-0">
								@Model.Price.ToString("f2")
							</h2>

						</div>
						<div class="mt-4">
							<a type="button" class="btn btn-success" asp-controller="Order" asp-action="Order" asp-route-bookId="@Model.Id">
								<i class="fas fa-cart-plus"></i>
								<span>Add to Cart</span>
							</a>
						</div>

					</div>
				</div>
				<div class="row mt-4">
					<nav class="w-100">
						<div class="nav nav-tabs" id="product-tab" role="tablist">
							<a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Description</a>
							<a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Reviews</a>
							<a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">Rating</a>
						</div>
					</nav>
					<div class="tab-content p-3" id="nav-tabContent">
						<div class="tab-pane fade active show" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">@Model.Description</div>
						
						@await Html.PartialAsync("_ReviewPartial", Model)
						
						@await Html.PartialAsync("_RatingPartial", Model)
					</div>
				</div>
			</div>

		</div>

	</section>

</div>

@section Styles {
	<link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
	<link href="~/css/adminlte.min.css" rel="stylesheet" asp-append-version="true">
	<link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

	@section Scripts{
	<script src="~/plugins/jquery.min.js" asp-append-version="true"></script>
	<script src="~/plugins/bootstrap.bundle.min.js" asp-append-version="true"></script>
	<script src="~/js/adminlte.min.js" asp-append-version="true"></script>
}