@model IEnumerable<UserServiceModel>

@{
	ViewBag.Title = "All Users";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<table class="table table-striped">
	<thead>
		<tr>
			<th><label>Email</label></th>
			<th><label>Roles</label></th>

			<th><label>Assign Role</label></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td><label>@user.Email</label></td>
				@if (user.RoleNames.Count() == 0)
				{
					<td><label>User is not in a role!</label></td>
				}
				else
				{
					<td><label>@string.Join(", ", @user.RoleNames)</label></td>
				}
				<td>
					<a class="nav-link text-dark" asp-area="Administration" asp-controller="Role" asp-action="Assign" asp-route-userId="@user.UserId">
						<i class="fas fa-user-tag"></i>
						<span>Assign Role</span>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>