@model DetailsBookViewModel

@if (Model.Reviews.Count() != 0)
{
	<div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">
		<div class="text-center row">
			@foreach (var review in Model.Reviews)
			{
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">@review.UserEmail</h5>
						<p class="card-text">@review.UserReview</p>
						@if (review.OwnerId == (string)ViewData["UserId"])
						{
							<div class="d-grid gap-2 d-md-block">
								<a type="button" class="btn btn-warning mb-3 p-2" asp-controller="Review" asp-action="Edit" asp-route-reviewId="@review.ReviewId">
									<i class="fas fa-edit"></i>
									<span>Edit</span>
								</a>
								<a type="button" class="btn btn-danger mb-3 p-2" asp-controller="Review" asp-action="Delete" asp-route-reviewId="@review.ReviewId">
									<i class="fas fa-trash"></i>
									<span>Delete</span>
								</a>
							</div>
						}
						@if (User.IsInRole("Administrator"))
						{
							<a type="button" class="btn btn-danger mb-3 p-2" asp-controller="Review" asp-action="Delete" asp-route-reviewId="@review.ReviewId">
								<i class="fas fa-trash"></i>
								<span>Delete</span>
							</a>
						}
					</div>
				</div>
				<br>
			}
		</div>

		<a type="button" class="fs-6 btn btn-success mb-3 p-2" asp-controller="Review" asp-action="Add" asp-route-bookId="@Model.Id">
			<span>Add Review</span>
		</a>

	</div>
}
else
{
	<div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">
		<a type="button" class="fs-6 btn btn-success mb-3 p-2" asp-controller="Review" asp-action="Add" asp-route-bookId="@Model.Id">
			<span>Be the first to add comment</span>
		</a>
	</div>
}
